.goal-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goal-text{
  margin-top: 10px;
  font-size: 30px;
  font-family: Exo 2;
  margin-bottom: 15px;
}

.goal-input{
  display: flex;
  width: 125px;
  padding: 10px 5px;
  border-radius: 15px;
  border-color: hsl(0, 0%, 90%);
  background-color: hsl(34, 78%, 95%);

  font-size: 35px;
  font-family: Exo 2;
  text-align: center;
  letter-spacing: 2px;
  transition: 0.1s;
}

.goal-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.goal-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.goal-input:focus{
  border-color: rgb(255, 208, 0);
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

.goal-input::placeholder{
  display: flex;
  font-size: 30px;
  color: hsl(0, 0%, 80%);
}

.player-boxes{
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.player1-box{
  display: grid;
  align-items: center;
  justify-content: center;
}

.player2-box{
  display: grid;
  align-items: center;
  justify-content: center;
}

.player1-name, .player2-name{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  font-size: 50px;
  font-family: Exo 2;
  font-weight: 500;
  letter-spacing: 2px;
}

.score-box{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.increment-box{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 10px;
}

.decrement-button{
  height: 75px;
  width: 75px;
  border-radius: 38px;
  font-size: 45px;
  background-color:antiquewhite;
  color: rgb(50, 50, 50);
  cursor: pointer;
}

.increment-button{
  height: 75px;
  width: 75px;
  border-radius: 38px;
  font-size: 25px;
  background-color:antiquewhite;
  color: rgb(50, 50, 50);
  cursor: pointer;
}

.player1-score{
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 125px;
  color: hsl(6, 93%, 71%);
}

.player2-score{
  display: flex;
  justify-content: center;
  margin-top: 0;
  font-size: 125px;
  color: hsl(250, 100%, 65%);
}
